<ion-view title="User Profile">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>

  <ion-content>
    <div class="row row-positive">
      <img class="userPhoto" id="userImage" src="{{data.user.photo}}" />
      <button class="button button-icon icon-right ion-camera camIco" ng-click="getUserPic()"></button>
    </div>
    <div class="row row-positive" style="height: 100vh">
      <div class="col">
          <form novalidate class="simple-form">
            <label class="item item-input" ng-repeat="userDetail in ['username', 'name', 'surname', 'email', 'description']">
              <span class="input-label">{{userDetail}}:</span>
              <input ng-if="userDetail != 'email'" type="text" ng-model="data.user[userDetail]">
              <input ng-if="userDetail == 'email'" type="email" ng-model="data.user[userDetail]">
            </label>
            <button class="button icon-right ion-edit right-align button-assertive" ng-click="updateUser(data.user)">Update</a>
          </form>
      </div>
    </div>
  </ion-content>
</ion-view>
